<footer class="footer">
    <div class="container1">
    <div class="row">
       <div class="footer-col">
          <h5 style="font-style: 16px;color: #FFF;">Bệnh viện Mắt Sài Gòn - MST : 0302745714 - Cấp ngày 18/10/2002 bởi Sở Kế Hoạch và Đầu Tư TP.HCM Bệnh viện Mắt Sài Gòn - Giấy phép hoạt động số 73/BYT/GPHD 0302745714 - Cấp ngày 25/12/2013 bởi Bộ Y Tế
          </h5>
          <ul>
             <li><img style="width: 70%; margin-top: 10px;" src="HinhAnh/congthuong1.png"></li>
             
          </ul>
       </div>

       <div class="footer-col">
          <h4>Dịch vụ</h4>
          <ul>
             <li><a class="chu" href="#">Khám da</a></li>
             <li><a class="chu" href="#">Trị mụn</a></li>
             <li><a class="chu" href="#">Khám da</a></li>
             <li><a class="chu" href="#">Khám da</a></li>
             <li><a class="chu" href="#">Khám da</a></li>
          </ul>
       </div>

       <div class="footer-col">
          <h4>Hướng dẫn khách hàng</h4>
          <ul>
             <li><a class="chu" href="#">Bí quyết da khỏe</a></li>
             <li><a class="chu" href="#">Hướng dẫn khách hàng</a></li>
             <li><a class="chu" href="#">Hướng dẫn thanh toán</a></li>
             
          </ul>
       </div>

       <div class="footer-col">
          <h4>Liên hệ</h4>
          <div class="social-links">
             <a  href="#"><i class="fab fa-facebook-f"></i></a>
             <a  href="#"><i class="fab fa-twitter"></i></a>
             
          </div>
       </div>
       <div class="footer-col">
          <h4>Hotline</h4>
          <div class="social-links">
             <a  href="#"><i class="fa-blender-phone"></i>19001568</a>
             
             
          </div>
       </div>
      
    </div>
   </div>
 </footer>
 <script>
   //jquery for toggle dropdown menu:
   $(document).ready(function(){
          //toggle sub-menus:
          $(".sub-btn").click(function(){
             $(this).next(".sub-menu").slideToggle();
          });
       });
       //javascript for the responsive navigation menu:
       var menu=document.querySelector(".menu");
       var menuBtn=document.querySelector(".menu-btn");
       var closeBtn=document.querySelector(".close-btn");
       menuBtn.addEventListener("click",function(){
          menu.classList.add("active");
       });
       closeBtn.addEventListener("click",function(){
          menu.classList.remove("active");
       });

       //javascript for scrolling header:
        window.addEventListener("scroll" ,function(){
          var header=document.querySelector(".header");
          if (window.scrollY>0) {
             header.classList.add('white');
          }
          else{
             header.classList.remove('white');
          }
        });
        //javascript for showslide:
        const myslide = document.querySelectorAll('.myslide'),
           dot = document.querySelectorAll('.dot');
         let counter = 1;
         slidefun(counter);

         let timer = setInterval(autoSlide, 8000);
         function autoSlide() {
            counter += 1;
            slidefun(counter);
         }
         function plusSlides(n) {
            counter += n;
            slidefun(counter);
            resetTimer();
         }
         function currentSlide(n) {
            counter = n;
            slidefun(counter);
            resetTimer();
         }
         function resetTimer() {
            clearInterval(timer);
            timer = setInterval(autoSlide, 8000);
         }

         function slidefun(n) {
         
            let i;
            for(i = 0;i<myslide.length;i++){
               myslide[i].style.display = "none";
            }
            for(i = 0;i<dot.length;i++) {
               dot[i].className = dot[i].className.replace(' active', '');
            }
            if(n > myslide.length){
               counter = 1;
               }
            if(n < 1){
               counter = myslide.length;
               }
            myslide[counter - 1].style.display = "block";
            dot[counter - 1].className += " active";
      }
      // Javascript for More-Less
       let more=document.querySelectorAll('.more');
         for(let i=0;i<more.length;i++){
            more[i].addEventListener('click',function(){
               more[i].parentNode.classList.toggle('active');
            })
            
         }
         //Javascript for video
         function toggleVideo(){
            const trailer=document.querySelector('.trailer');
            const video=document.querySelector('iframe');
            trailer.classList.toggle('active');
            video.currentTime=0;
            // video.pause();
            // video.stop();
         }
</script>